.stripe-1 {
    position: absolute;
    width: 100vw;
    height: 33vh;
    top: 0%;
    left: 0%;
    background-color: black;
    animation: on_left ease-in forwards 3s;
}
.stripe-2 {
    position: absolute;
    width: 100vw;
    height: 33vh;
    top: 33%;
    right: 0%;
    background-color: black;
    animation: on_right ease-in forwards 3s;
}
.stripe-3 {
    position: absolute;
    width: 100vw;
    height: 33vh;
    top: 66%;
    left: 0%;
    background-color: black;
    animation: on_left ease-in forwards 3s;
}

@keyframes on_left {
    50% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
@keyframes on_right {
    50% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}
